@import "tailwindcss";

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
body {
  @apply bg-black text-gray-100 transition-all duration-350;
}

.error {
  @apply outline-red-500;
}
/* for index */
.currentPage {
  @apply text-indigo-400;
}

.previewImg {
  @apply object-cover w-60 h-40 mb-2 rounded-md;
}

.previewItem {
  @apply min-w-60 flex flex-col items-start bg-gradient-to-br from-gray-800 to-indigo-500 shadow-lg shadow-indigo-500 rounded-md p-5;
}
.author {
  @apply w-full text-end mt-auto;
}
/* Hide scrollbar for Chrome, Safari and Opera */
#preview_container::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#preview_container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* for Post */
.posts {
  @apply flex min-w-96 shadow-md rounded-md p-3 cursor-pointer bg-gradient-to-br from-gray-800 to-indigo-500;
}
.postImg {
  @apply w-32 h-32 sm:w-60 sm:h-60 rounded-md object-cover;
}
.contentDiv {
  @apply w-full text-lg sm:w-full p-3 flex flex-col justify-start gap-3;
}
.titleDiv {
  @apply flex justify-between items-center;
}

.titleDiv > .titleDate {
  @apply text-sm;
}
.authorDiv {
  @apply w-full text-end mt-auto;
}

/* for detail */

.titleDetail {
  @apply text-5xl font-bold;
}

.contentDetail {
  @apply text-lg;
}
.userDateContainer {
  @apply flex justify-between items-center w-1/2;
}

.imgDetail {
  @apply w-full h-56 object-cover;
}

.buttonDiv {
  @apply flex justify-around items-center w-full;
}

.buttonDiv > button {
  @apply text-white px-5 py-2 rounded-md shadow-md;
}

.editButton {
  @apply bg-blue-500;
}
.deleteButton {
  @apply bg-red-500;
}
